---
- hosts: localhost
  tasks:
    - name: register email
      command: git config --get user.email
      register: email

    - debug:
        var: hostvars['localhost']['email']

- hosts: '{{ app_name }}'
  gather_facts: false
  vars:
    url: '{{ app_name }}'
    name: '{{ app_name }}'
    email: "{{ "{{ hostvars['localhost']['email'].stdout  }}" }}"

  tasks:
    - include_vars:
        dir: "{{ '../group_vars/sites' }}"
      when: hostvars[inventory_hostname]['ansible_user'] is undefined

    - name: 'lookup subdomain ip'
      shell: nslookup {{ '{{ url }}' }} | grep Address | tail -1 | awk -F ' ' '{ print $2 }'
      register: target_ip

    - name: Copy nginx conf
      copy:
        src: {{ app_name }}.nginx.conf
        dest: /etc/nginx/conf.d/{{ '{{ url }}' }}.conf
        force: no

    - name: Creates directory
      file:
        path: /var/www/html/{{ app_name }}
        state: directory

    - name: certify
      become: true
      become_user: root
      shell: "/snap/bin/certbot --nginx -n --agree-tos --email {{ '{{ email }}' }} -d {{ '{{ url }}' }}"
